body{
    background: linear-gradient(232deg, #d29210, #986b12, #eacd94);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
}

h1 {
    position: absolute;
  top: 10%;
  width: 30%;
  left: 60%;
  text-align: left;
  font-family: futura;
    font-size:4rem;
    color: white;
    line-height: 1.2;
    position: relative;
    animation: fadeIn 3s infinite;
}

h2 {
    position: absolute;
  top: 22%;
  width: 30%;
  left: 60%;
  text-align: left;
  font-family: futura;
    font-size:2rem;
    color: white;
    line-height: 1.2;
}

h3 {
    position: absolute;
  top: 30%;
  width: 30%;
  left: 60%;
  text-align: left;
  font-family: arial;
    font-size:1rem;
    color: white;
    line-height: 1.2;
    
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }


  @-webkit-keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes AnimationName { 
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}