body{
    background: linear-gradient(221deg, #2a3d43, #3c7d92, #b3c0c5);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

h1 {
    position: absolute;
  top: 10%;
  width: 30%;
  left: 60%;
  text-align: left;
  font-family: futura;
    font-size:4rem;
    color: white;
    line-height: 1.2;
    position: relative;
    animation: fadeIn 3s infinite;
}

h2 {
    position: absolute;
  top: 20%;
  width: 30%;
  left: 60%;
  text-align: left;
  font-family: futura;
    font-size:2rem;
    color: white;
    line-height: 1.2;
}

h3 {
    position: absolute;
  top: 30%;
  width: 30%;
  left: 60%;
  text-align: left;
  font-family: arial;
    font-size:1rem;
    color: white;
    line-height: 1.2;
    
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }


  @-webkit-keyframes AnimationName {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes AnimationName { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}